.pokemon-card{
    
    padding: 15px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    max-width: 250px;
    float: left;

    .card-image{
        display: flex;
        background: #efefef;
        background-image: radial-gradient(circle, #ffffff, #ececec, #dadada, #c8c8c8, #b6b6b6);
        min-height: 150px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        
        img{
            width: 200px;
            height: auto;
        }
    }

    .card-title{
        text-transform: capitalize;
    }

    .stats{
        p{
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;
        }
    }

    button{
        
    }
}