<div class="pokemon-card">
    <!--IMAGE-->
    <div class="card-image">
        <img [src]="pokemon.sprites.front_shiny" alt="sprite">
    </div>

    <!--NAME-->
    <div class="card-title">
        <h4>{{ pokemon.name }}</h4>
    </div>

    <!--STATS-->
   <div class="stats">
       <b>Stats: </b>
       <p *ngFor=" let pokeStat of pokemon.stats.reverse()">
        <span>
            {{ pokeStat.stat.name }}
        </span>   
        <span>
            {{pokeStat.base_stat}}
        </span>
       </p>
   </div>

   <button (click)="onViewMoreClick(pokemon.id)">View more</button>
</div>